POSTGRES_DB=unsent_db
POSTGRES_USER=unsent_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433


SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/unsent_db
SPRING_DATASOURCE_USERNAME=unsent_user
SPRING_DATASOURCE_PASSWORD=change_me


SPRING_PROFILES_ACTIVE=dev